*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}


/*********************
        HEADER  
 *********************/
 header{
    background-color: rgba(255, 255, 255, 0.408);
    min-width: 100%;
    height: 6rem;
}
.barleft{
    display: flex;
    align-items: center;
}
.img{
    width: 5rem;
}
.titolo{
    font-size: 3rem;
    font-weight: bold;
    margin-right: 50rem;
}
.bar{
    max-width: 90vw;
    height: 6rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}






/*********************
        MAIN  
 *********************/

main{
    background-color: #016170;
    width: 100vw;
    height: calc(100vh - 6rem);
    padding-top: 2rem;
}

.grid{
    width: 45rem;
    height: 45rem;
    margin: auto;
    border: 2px white solid;
    display: flex;
    flex-wrap: wrap;

}

.square{
    border: 2px white solid;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aquamarine{
    background-color: aquamarine;
}

.red{
    background-color: red;
}





